.quiz-score {
  display: flex;
  justify-content: flex-end;

  font-family: "Marck Script", cursive;
  font-size: 4rem;
  text-align: right;

  &__count {
    display: block;
    min-width: 4rem;
  }
}
