.gallery-slider {
  gap: 1rem;
  height: 100%;

  &,
  &__slides,
  &__button {
    display: flex;
  }

  &__slides-wrapper {
    overflow: hidden;

    border: 0.1rem solid #e5e5e5;
    border-radius: 0.3rem;
  }

  &__slides {
    height: 100%;
    transition: transform 0.5s;

    .bird-card {
      min-width: 100%;
      background-image: none;
      border: 0;
    }
  }

  &__button {
    align-items: center;
    justify-content: center;
    width: 4rem;
    min-width: 4rem;

    font-family: inherit;
    font-size: inherit;
    color: inherit;

    cursor: pointer;
    background-color: transparent;
    border: 0;

    svg {
      fill: #e5e5e5;
      transition: fill 0.2s;
    }

    &:hover {

      svg {
        fill: #333;
      }
    }
  }
}
