.next-question-button {
  padding: 1rem 2rem;

  font-family: inherit;
  color: #fff;

  cursor: pointer;
  background-color: #00bc8c;
  border: 0.1rem solid transparent;
  border-radius: 0.3rem;

  transition: color 0.2s, background-color 0.2s, border 0.2s;

  &:disabled {
    color: #333;

    background-color: #fff;
    border-color: #e5e5e5;
  }
}
