.home-page {
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &,
  &__title {
    display: flex;
  }

  &__title {
    font-family: "Marck Script", cursive;
    font-size: 18rem;
    font-weight: 400;
    color: #f5f5f5;
  }

  &__title-end {
    color: #00bc8c;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  &__button {
    padding: 1rem 2rem;
    font-size: 2.4rem;

    color: inherit;
    text-align: center;
    text-decoration: none;

    background-color: #f5f5f5;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      color: #fff;
      background-color: #00bc8c;
    }
  }
}
