@font-face {
  font-family: "Marck Script";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/MarckScript-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Nunito;
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Nunito-Regular.woff2") format("woff2");
  font-display: swap;
}
