@import "./fonts";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  &::selection {
    color: #fff;
    background-color: #00bc8c;
  }
}

html,
body,
.root,
.root > div {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 76.8rem;

  font-family: Nunito, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;

  background-color: #f5f5f5;
}

.nav-separator {
  position: relative;
  width: 0.1rem;
  height: 5.2rem;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.1rem;
    height: 50%;

    content: "";
    background-color: #333;
    transform: translate(-50%, -50%);
  }
}
