.results-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  &__text,
  &__button {
    text-align: center;
  }

  &__title,
  &__text {
    color: #f5f5f5;
  }

  &__title {
    font-family: "Marck Script", cursive;
    font-size: 8rem;
    font-weight: 400;
  }

  &__text {
    font-size: 2.4rem;
  }

  &__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  &__button {
    padding: 1rem 2rem;

    color: inherit;
    color: #333;
    text-decoration: none;

    background-color: #f5f5f5;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s;

    &:hover {
      color: #f5f5f5;
      background-color: #00bc8c;
    }
  }
}
